:root{
    /*Colores del logo*/
    --color-primario: #bf2121;
    --logo-azul: #05C7F2;
    --logo-amarillo: #F2D541;

    --text-error: rgb(235, 81, 81);
    --bg-error: rgba(245, 160, 160, 0.37);

    /*Tonos del color primario*/
    --tono1: #3b1212;
    --tono2: #631e1e;
    --tono3: #8c2a2a;
    --tono4: #a91919;
    --tono5: #a82f2f;
    --tono6: #893030;
    --tono7: #d94141;

    /*Colores generales*/
    --color-blanco: white;
    --color-negro: black;
    --color-gris: #777;
    --color-blanco2: #eee;

    /*Opacidades*/
    --op-negro-1: rgba(0, 0, 0, 0.142);

    /*Alertas*/
    --success: rgb(87, 202, 87);
    --error: rgb(252, 92, 92);
    --info: rgb(104, 104, 255);
    --confirmacion: #8d64ff;

    /*Stock Color */
    --stock-green: rgb(27, 134, 0);
    --stock-yellow: rgb(129, 129, 0);
    --stock-red: rgb(128, 1, 1);

    /*Otros*/
    --disable: #d94141d1;
}